entrypoint = "main.py"
modules = ["python-20.7"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 8000

[workflows]
runButton = "Start Bot"

[[workflows.workflow]]
name = "Start Bot"
author = 46386843
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
